.button {
  width: 15rem;
  height: 6rem;
  padding: 1rem;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  background-color: #2f492d;
  border: none;
  border-radius: 3rem;
  box-shadow: 9px 16px 13px 5px #2f492db3;
}

.button:hover,
.button:active {
  color: #779c3f;
  background-color: #2f492d;
  cursor: pointer;
}
