.button {
  width: 15rem;
  height: 6rem;
  margin: 0;
  padding: 1rem;
  font: inherit;
  color: #fff;
  font-size: 1.5rem;
  background-color: #2f492d;
  border: none;
  border-radius: 3rem;
  box-shadow: 9px 16px 13px 5px #2f492db3;
  transition: transform 0.5s ease;  
}

.button:hover,
.button:active {
  color: #779c3f;
  cursor: pointer;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);   
}
