.info {
  position: absolute;
  top: 25%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.info article {
  max-width: 30%;
}

.info h2 {
  letter-spacing: 2px;
}

.info p {
  font-size: 1.2rem;
  line-height: 1.5;
}
