.info {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;  
}

.info article {
  width: 30%;
  margin: 0;
}

.info h2 {
  letter-spacing: 2px;
}

.info p {
  font-size: 1.2rem;
  line-height: 1.5;
}

@media (max-width: 1024px) {
  .info {
    margin-top: 7rem;
  }
}
